* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    widows: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 3% 0;
}

p {
    text-align: center;
}

.container {
    padding: 0;
    height: 100%;
    padding: 0 10%;
}

.container-box {
    width: calc(50% - 1.99px);
    display: inline-block;
    padding: 2%;
    margin: 0;
    height: 600px;
    vertical-align: top;
}

.left {
    background-color: lightgray;
}

.right {
    background-color: whitesmoke;
}

form {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.form-item {
    padding: 15px 2%;
    vertical-align: middle;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    width: 75%;
}

.form-item__input {
    height: 40px;
    width: 65%;
    margin: 0;
    padding: 0;
    text-align: center;
}