* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F7F9;
}

button {
  height: 50px;
  padding: 20px 30px;
  background-color: black;
  border-radius: 14px;
  border-style: none;
}

.pug-button {
  color: #F6F7F9;
  font-size: 1em;
}

.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

.button-container {
  text-align: center;
  margin: 20px;
}

#images {
  line-height: 0;
}

#images img {
  border: 1px solid black;
}
