* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    widows: 100%;
}

img {
    padding: 1%;
    /* max-width: 150px; */
    /* width: 100%; */
}

h1 {
    text-align: center;
    padding: 2%;
}

p {
    padding: 0 2%;
}

.flex-box {
    display: flex;
    padding: 2%;
    background-color: lightgrey;
    margin: 2%;
    width: auto;
    /* height: 300px; */
}

.one {
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
}

.two {
    flex-direction: row;
    align-items: flex-end;
}

.three {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
}

.four {
    flex-direction: column;
    align-items: stretch;
}

.flex-item {
    display: flex;
    flex: 1 1 auto;
}